<div ng-controller="ExportCtrl" class="container">
	<form>
		<h2>{{ headerLabel}}</h2>
		<div class="form-group">
			<label for="format">Format:</label>
			<button type="button" id="format" class="btn btn-default" ng-model="selectedFormat" data-html="1" data-toggle="true" bs-options="format.name for format in formats" bs-select>
			Action <span class="caret"></span>
</button>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="download()">{{ downloadButtonLabel }}</button>
	</form>
</div>
