<div ng-controller="TrainingCtrl" class="container">
	<form ng-show="!isCurrentlyTrained">
		<h2> {{ headerLabel }}</h2>
		<div class="form-group">
			<label for="learningCoefficient">{{ lcLabel }}</label>
			<input type="text" class="form-control" id="inputName" ng-model= "trainingProps.learningCoefficient">
		</div>
		<div class="form-group">
			<label for="learningSet" class="btn btn-default btn-file" bs-tooltip="tooltipTraining">{{ inputSetFileLabel }}</label>
			<input type="file" style="display: none;" id="learningSet" file-type="learning" training-data-file-reader>
		</div>
		<div class="form-group">
			<label for="trainingSet" class="btn btn-default btn-file" bs-tooltip="tooltipTraining">{{ outputSetFileLabel }}</label>
			<input type="file" style="display: none;" id="trainingSet" file-type="training" training-data-file-reader>
		</div>
		<div class="form-group">
			<label for="iterations">{{ iterationsLabel }}</label>
			<input type="number" class="form-control" id="inputName" ng-model="trainingProps.iterations">
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="train()">{{ trainingButtonLabel }}</button>
	</form>
	<div class="progress" ng-show="isCurrentlyTrained">
		<div class="progress-bar" role="progressbar" style="width:{{ percentage }}%">
			{{ progressMessage }}
		</div>
	</div>
</div>
