<div ng-controller="WorkbenchCtrl" class="container">
	<div class="workbench">
		<sigmajs graph="sigmaGraph" releative-size-node="true"></sigmajs>
		<div class="workbench_menu">
			<table>
				<thead>
					<tr>
						<th>{{ inputLabel }}</th>
						<th>{{ outputLabel }}</th>
					<tr>
				</thead>
				<tbody>
					<tr ng-repeat="inout in inout_tracking() track by $index">
						<td><label>{{$index}}<input ng-model="inoutContainer.input_vector[$index]"></label></td>
						<td>{{ inoutContainer.output_vector[$index] }}</td>
					</tr>
					<tr>
						<td>
							<button ng-click="uploadInput()" class="btn btn-default btn-sm" upload-input-file-reader>{{ uploadLabel }}</button>
						</td>
						<td>
							<button ng-click="downloadOutput()" class="btn btn-default btn-sm">{{ downloadLabel }}</button>
						</td>
					</tr>
				</tbody>
			</table>
			<button class="btn btn-lg btn-primary btn-block" ng-click="run()">{{ runButtonLabel }}</button>
		</div>
	</div>
</div>
