<div ng-controller="WorkbenchCtrl" class="container">
	<div class="workbench">
		<sigmajs graph="sigmaGraph" releative-size-node="true"></sigmajs>
		<div class="workbench_menu">
			<table>
				<thead>
					<tr>
						<th>Input</th>
						<th>Output</th>
					<tr>
				</thead>
				<tbody>
					<tr ng-repeat="inout in inout_tracking() track by $index">
						<td>{{ inoutContainer.input_vector[$index] }}</td>
						<td>{{ inoutContainer.output_vector[$index] }}</td>
					</tr>
					<tr>
						<td>
							<button ng-click="uploadInput()">Upload</button>
						</td>
						<td>
							<button ng-click="downloadOutput()">Download</button>
						</td>
					</tr>
				</tbody>
			</table>
			<button>Run</button>
		</div>
	</div>
</div>
