body .container
{
	padding-top: 60px;
}

div.banner_container
{
	width: 100%;
	text-align: center;
}

img.banner
{
	display: block;
	margin: 0 auto;
}

.navbar-brand 
{
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	width: 50px;
}

div.canvas
{
	position: absolute;
	width: 80%;
	height: 100%;
	float: left;
	display: inline;
	border-style: solid;
}

div.workbench_menu
{
	display: inline;
	float:right;
}

div.network_list
{
	border-style: solid;
}