body .container
{
	padding-top: 60px;
}

div.banner_container
{
	width: 100%;
	text-align: center;
}

img.banner
{
	display: block;
	margin: 0 auto;
}

.navbar-brand 
{
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	width: 50px;
}

div.canvas
{
	width: 75%;
	height: 700px;
	float: left;
	display: inline;
	border-style: solid;
}

div.workbench_menu
{
	display: inline;
	float: right;
	height: 100%;
	width: 25%;
	border-style: dotted;
	padding: 2px;
}

div.workbench_menu input
{
	width: 50%;
}

div.network_list_elem
{
	border-style: solid;
	cursor: hand;
}

div.network_list_elem:hover
{
	border-style: solid;
	cursor: hand;
	color: #ffd11a;
}
