<div class="container" ng-controller="LoginCtrl">
	<form novalidate class="form-signin">
		<div class="languageBar">
			<button style="background: url(images/polandLargeFlag.png)" ng-click="setPolishLanguage()"></button>
			<button style="background: url(images/ukLargeFlag.png)" ng-click="setEnglishLanguage()"></button>
		</div>
		<h2 class="form-signin-heading">{{ signInLabel }}</h2>
		<label for="inputLogin" class="sr-only">{{ loginLabel }}</label>
		<input type="text" id="inputLogin" class="form-control" placeholder="{{ loginLabel }}" ng-model="user.login" required autofocus>
		<label for="inputPassword" class="sr-only">{{ passwordLabel }}</label>
		<input type="password" id="inputPassword" class="form-control" placeholder="{{ passwordLabel }}" ng-model="user.password" required>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="remember-me"> {{ rememberMeLabel }}
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">{{ signInLabel }}</button>
		<a ng-href="#/register">{{ createNewAccountLabel }}</a>
	</form>
</div>
