<div class="container" ng-controller="LoginCtrl">
	<form novalidate class="form-signin">
		<h2 class="form-signin-heading">Sign in</h2>
		<label for="inputLogin" class="sr-only">Login</label>
		<input type="text" id="inputLogin" class="form-control" placeholder="Login" ng-model="user.login" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="user.password" required>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="remember-me"> Remember me
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign in</button>
		<a ng-href="#/register">Create new account</a>
	</form>
</div>
