<div class="container" ng-controller="RegisterCtrl">
	<form novalidate class="form-signin">
		<h2 class="form-signin-heading">{{ signUpLabel }}</h2>
		<label for="inputEmail" class="sr-only">{{ emailLabel }}</label>
		<input type="email" id="inputEmail" class="form-control" placeholder="{{ emailLabel }}" ng-model="user.email" required autofocus>
		<label for="inputLogin" class="sr-only">{{ loginLabel }}</label>
		<input type="text" id="inputLogin" class="form-control" placeholder="{{ loginLabel }}" ng-model="user.login" required>
		<label for="inputPassword" class="sr-only">{{ passwordLabel }}</label>
		<input type="password" id="inputPassword" class="form-control" placeholder="{{ passwordLabel }}" ng-model="user.password" required>
		<label for="inputConfirmPassword" class="sr-only">{{ confirmPasswordLabel }}</label>
		<input type="password" id="inputConfirmPassword" class="form-control" placeholder="{{ passwordLabel }}" ng-model="password_confirmation" required>
		<textarea class="form-control" placeholder="{{ enterTheMessageForAdminHereLabel }}" ng-model="user.message_to_admin" required></textarea>
		<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="register()">{{ registerLabel }}</button>
		<a ng-href="#/login">{{ backToTheLoginPromptLabel }}</a>
	</form>
</div>
